spring.application.name=Kanban
spring.datasource.url=jdbc:postgresql://host.docker.internal:5432/kanban
spring.datasource.username=pierogi
spring.datasource.password=piwo
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.hbm2ddl.auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

logging.level.config=INFO
logging.level.org.springframework=INFO
logging.level.com.example.Kanban.config=INFO
logging.level.org.springframework.security=DEBUG
jwt.secret.key=kielbasa