
.mainTitle {
    font-family: "Geo", sans-serif;
    font-style: italic;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    font-size: 3rem;
    color: var(--foreground);
}

.mainTitle:hover {
    filter: brightness(0.7);
    scale: calc(0.95)
}

@media (max-width: 768px) {
    .mainTitle {
        font-size: 3rem;
    }
}